@model WebApplication1.Models.report_employee
@{
    ViewBag.Title = "update_attendance";
    Layout = "~/Views/Shared/_Layout_system.cshtml";
}

@section content{
    <br>
    <br>
    <br>

    <div class="card-header">
        <div class="card-title-wrap bar-success">
            <h4 class="card-title">Request A Form</h4>
        </div>
    </div>
    <div class="card-body">
        <div class="px-3">

            <form class="form form-horizontal" method="post" enctype="multipart/form-data">
                @Html.HiddenFor(m=>m.id_report)
                <div class="form-body">

                    <div class="form-group row">
                        <label class="col-md-6 label-control" for="projectinput7">Employee Name : </label>
                        <div class="col-md-6">

                            @Html.DropDownListFor(n => n.id_emp, (SelectList)ViewBag.cat, new { @class = "form-control" })
                            
                        </div>
                    </div>




                    <div class="form-group row">
                        <label class="col-md-6 label-control" for="projectinput9">Date: </label>
                        <div class="col-md-6">
                            <div class="position-relative has-icon-left">

                                @Html.EditorFor(m => m.date_of_today, "{0:d}", new { htmlAttributes = new { @class = "form-control", @type = "date", @min = "2008-01-01", @max = DateTime.Today.ToString("yyyy-MM-dd") } })
                                @Html.ValidationMessageFor(n => n.date_of_today, null, new { @class = "text-danger" })

                                <div class="form-control-position">
                                    <i class="ft-message-square"></i>
                                </div>
                            </div>
                        </div>
                    
                    </div>



                        <div class=" row form-group">
                            <label class="col-md-6 label-control">Start time: </label>
                            <div class="position-relative has-icon-left col-lg-6">
                                @Html.EditorFor(m => m.time_attendance, new { htmlAttributes = new { @class = "form-control", @type = "time", @min = "08:00", @max = "18:00" } })
                                @Html.ValidationMessageFor(n => n.time_attendance, null, new { @class = "text-danger" })
                                <div class="form-control-position">
                                    <i class="ft-clock"></i>
                                </div>
                            </div>
                         </div>

                    <h1 class="text-danger">@ViewBag.eror </h1>
                    
                        <div class=" row form-group">
                            <label class="col-md-6 label-control">End time: </label>
                            <div class="position-relative has-icon-left col-lg-6">
                                @Html.EditorFor(m => m.time_leave, new { htmlAttributes = new { @class = "form-control", @type = "time", @min = "08:00", @max = "18:00" } })
                                @Html.ValidationMessageFor(n => n.time_leave, null, new { @class = "text-danger" })
                                <div class="form-control-position">
                                    <i class="ft-clock"></i>
                                </div>
                            </div>
                        </div>
                    
                </div>
                <input type="submit" value="Save" class="col-12 alert-success" />
                <input type="submit" value="Cancel" class="col-12 btn btn-danger mr-1" />



            </form>
        </div>
    </div>

}

